<header class="mb-15" th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml"
        xmlns:sec="http://www.w3.org/1999/xhtml">

    <div>
        <nav class="nav nav-masthead justify-content-left float-md-end row">

            <div class="left-block col-6">

                <a class="nav-link" href="/shop">Магазини</a>
                <a class="nav-link" href="/owner">Власники</a>
                <a class="nav-link" href="/seller">Продавці</a>
                <a class="nav-link" href="/department">Відділи</a>
                <a class="nav-link" href="/product">Товари</a>

            </div>
        </nav>
    </div>
</header>